<div class="content">
  <div class="align-left">
    <h2>Resources</h2>
    <ul class="pad-left">
        <li><a id="Oxygen">Oxygen: <a id="oxy"></a></a></li>
        <li><a id="Hydrogen">Hydrogen: <a id="hyd"></a></a></li>
        <li><a id="Iron">Iron: <a id="irn"></a></a></li>
        <li><a id="Food">Food: <a id="fud"></a></a></li>
        <li><a id="Wood">Wood: <a id="wud"></a></a></li>
        <li><a id="Crystal">Energy Crystal: <a id="crys"></a></a></li>
    </ul></br>
  </div>
  <div class="align-left">
    <h2>Buildings</h2>
    <ul id="buildings" class="pad-left align-left">
    </ul>
  </div>
</div>
