html {
  position: relative;
  min-height: 100%;
}

body {
  z-index: 0;
  margin-bottom: 60px;
  align-items: center;
  text-align: center;
  color: #f5f7fa;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #f5f7fa;
}

canvas {
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  z-index: -10;
  position: fixed;
}

.helloInput {
  width: 300px;
}

ul {
  text-decoration: none;
}

li {
  display: inline;
  padding-right: 10px;
  white-space: nowrap;
}

.pad-left {
  padding-left: 20px;
}

.content {
  margin-top: 80px !important;
  padding-left: 50px;
}

.align-left {
  text-align: left;
}

header {
  align-items: left;
  text-align: left;
}

#Oxygen {
  color: aqua;
}
#Hydrogen {
  color: blue;
}
#Iron {
  color: orangered;
}
#Food {
  color: red;
}
#Wood {
  color: brown;
}
#Crystal {
  color: green;
}

#Command {
  color: lime;
}
#Guild {
  color: gold;
}
#Resource {
  color: aqua;
}
#Barracks {
  color: darkred;
}
#Radar {
  color: cyan;
}
#Market {
  color: orangered;
}
#Storage {
  color: silver;
}
#Infirmary {
  color: red;
}
#Tech {
  color: orange;
}
#Research {
  color: green;
}
#Bunker {
  color: darkblue;
}
#Settlements {
  color: yellow;
}
